extends layout 
 
block content 
  h1= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet",
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous") 
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js",
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p",
        crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js",
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF",
        crossorigin="anonymous")
  if (toShow == null) 
    h2 No instance to delete 
  else  
    - let mazdaid = toShow._id 
    - let mazdacost = toShow.cost
    - let mazdamodel = toShow.model 
    - let mazdacolor = toShow.color 
    div 
     div.row 
      div(class='mazdaAttr mr-3') Mazda ID is: 
      div #{mazdaid} 
     div.row 
      div(class='mazdaAttr mr-3') mazda Model is: 
      div #{mazdamodel} 
     div.row 
      div(class='mazdaAttr mr-3') mazda Color is: 
      div #{mazdacolor} 
     div.row 
      div(class='mazdaAttr mr-3') mazda Cost is: 
      div #{mazdacost} 